In [1]:
import pandas as pd
import numpy as np

# 1) 生成成绩数据score
data = {
    '姓名': ['张三', '李四', '王五'],
    '数据结构': [85, 76, 90],
    'Java程序设计': [82, 88, 76]
}

score = pd.DataFrame(data)

score_backup = pd.DataFrame(data)

score

   姓名  数据结构  Java程序设计
0  张三    85        82
1  李四    76        88
2  王五    90        76

In [2]:
# 2) 添加Python成绩列
score['Python'] = [78, 89, 66]

score

   姓名  数据结构  Java程序设计  Python
0  张三    85        82      78
1  李四    76        88      89
2  王五    90        76      66

In [3]:
# 3) 按照数据结构成绩从低到高排列
score.sort_values(by='数据结构', inplace=True)

score

   姓名  数据结构  Java程序设计  Python
1  李四    76        88      89
0  张三    85        82      78
2  王五    90        76      66

In [4]:
# 4) 随机生成C语言成绩（60-100内）
score['C语言'] = np.random.randint(60, 101, size=len(score))

score

   姓名  数据结构  Java程序设计  Python  C语言
1  李四    76        88      89   70
0  张三    85        82      78   63
2  王五    90        76      66   99

In [5]:
# 5) 计算平均分
score_backup['平均分'] = score_backup[["数据结构", "Java程序设计"]].mean(axis=1)

score_backup

   姓名  数据结构  Java程序设计   平均分
0  张三    85        82  83.5
1  李四    76        88  82.0
2  王五    90        76  83.0